<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678279418514-ndlae00mb87c537lksjvh8trdsj6g9o1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678279418514-ndlae00mb87c537lksjvh8trdsj6g9o1</string>
	<key>API_KEY</key>
	<string>AIzaSyBhXyttGxsMQ52lXqdxOuK470slXJAQ7fY</string>
	<key>GCM_SENDER_ID</key>
	<string>678279418514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smWork</string>
	<key>PROJECT_ID</key>
	<string>work-tour</string>
	<key>STORAGE_BUCKET</key>
	<string>work-tour.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678279418514:ios:0562c16398640a9c860c4b</string>
</dict>
</plist>